#doboz {
    width:  1300px;
    height: 600px;
    display: flex;
    align-content: flex-start;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.kep {
    width: 150px;
    height: 150px;
}

.kep:hover {
    width: 250px;
    height: 250px;
}
body {
    display: flex;
    align-items:center;
    flex-direction: column;
    align-content: space-around;
    display: flex;
    background-color: rgba(0, 0, 0, 0.678);
    height: 500px;
    
}

/*galaxy fold*/
@media screen and (max-height:653px) and (max-width:280px) {
    body {
        width: 280px;
        height: 653px;
    }
}

#forti {
    width: 400px;
}

#forti:hover {
    width: 400px;
    height: 150px;
}

#spongyabob {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: width 1s, height 1s, transform 1s;
    animation: fade;
    opacity: 0.3;
}

#nyelvtan {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: width 1s, height 1s, transform 1s;
    animation: fade;
    opacity: 0.3;
}

#random {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: width 1s, height 1s, transform 1s;
    animation: fade;
    opacity: 0.3;
}

#spongyabob:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    opacity: 1;
    transition: 1s;
}

#nyelvtan:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    opacity: 1;
    transition: 1s;
}

#random:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    opacity: 1;
    transition: 1s;
}

label {
    color: white;
}

#bejelentkezes {
    margin: 0;
}

#rick {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: width 1s, height 1s, transform 1s;
    animation: fade;
    opacity: 0.3;
}

#rick:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    opacity: 1;
    transition: 1s;
}

::-webkit-scrollbar {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}
