#doboz {
    width:  1300px;
    height: 600px;
    display: flex;
    align-content: flex-start;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.kep {
    width: 150px;
    height: 150px;
}

.kep:hover {
    width: 250px;
    height: 250px;
}
body {
    background-color: rgb(155, 150, 150);
    background-image: url("pictures/szia\ uram\ háttér");
}
/*Desktop*/
@media screen and (min-height:992px) and (min-width:1600px) {
    #doboz {
        width: 1500px;
        height: 992px;
        justify-content: space-evenly;
    }
}

@media screen and (min-height:992px) and (min-width:1600px) {
    body {
        background-repeat: no-repeat;
        background-size:cover;
    }
}

/*Laptop*/

/*Tablet*/
@media screen and (min-height:1024px) and (min-width:768px) {
    #doboz {
        width: 768px;
        height: 1024px;
    }
    .kep {
        width: 200px;
        height: 200px;
    }
    .kep:hover {
        width: 200px;
        height: 200px;
    }
}

/*mobile*/
@media screen and (max-height:880px) and (max-width:720px) {
    #doboz {
        width: 720px;
        height: 880px;
    }
    .kep {
        width: 100px;
        height: 100px;
    }
    .kep:hover {
        width: 100px;
        height: 100px;
    }
}